body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 0px;
}

a {
  color: white;
}

.centerContainer {
    width: 750px;
    margin: 0px auto;
}

.brandBackgroundContainer {
  color: white;
  background-color: #50C8C8;
}

.smallScreenPadding {
  padding: 0px 0px;
}

/* Header */
.headerText {
  margin: 0px;
  padding-top: 20px;
}

.subtitleText {
  margin-top: 5px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1.3em;
}

/* Service table */
.servicesTable {
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.servicesTable th {
  text-align: left;
}

.spacerColumn {
  width: 20px;
}

.statusCell {
  text-align: center;
}

/* App links */
.appLinksContainer {
  text-align: center;
  padding: 20px 0px;
}

.mainImage {
  width: 200px;
}

.appLinkImage {
  height: 40px;
}

/* Support */
.supportContainer {
  padding: 4px 0px;
}

/* Responsive */
@media screen and (max-width: 750px) {
  .centerContainer {
    width: 100%;
    margin: 0px;
  }

  .smallScreenPadding {
    padding: 0px 10px;
  }
}