body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 0px;
}

a {
  color: #21BFAA;
}

.centerContainer {
  max-width: 750px;
  margin: 0px 20px;
}

.brandBackgroundContainer {
  color: white;
  background-color: #21bfaa;
}

/* Header */
.headerText {
  margin: 0px;
  padding-top: 20px;
}

.subtitleText {
  margin-top: 5px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1.3em;
}

/* Service table */
.servicesTable {
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.servicesTable a {
  color: black;
  text-decoration: none;
}

.servicesTable th {
  text-align: left;
}

.spacerColumn {
  width: 20px;
}

.statusCell {
  text-align: center;
}

/* App links */
.appLinksContainer {
  text-align: center;
  padding: 20px 0px;
}

.mainImage {
  width: 200px;
}

.appLinkImage {
  height: 40px;
}

.appBlurbHeader {
  margin-bottom: 0px;
}

.appBlurb {
  margin: 5px 10px 20px 10px;
  color: #707070;
}

/* Support */
.supportContainer {
  padding: 4px 0px;
}

.supportContainer a {
  color: white;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .mainContent {
    display: flex;
    flex-direction: row;
  }

  .mainContent>div:first-child {
    width: 80%;
    margin-bottom: 10px;
  }

  .centerContainer {
    margin: 0px auto;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #121212;
  }

  .servicesTable a {
    color: white;
  }

  .brandBackgroundContainer {
    background-color: #303030;
  }

  .appBlurb {
    color: #999999;
  }
}